* {
    box-sizing: border-box;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 2rem;
  }
  li a {
    margin: 50px;
    line-height: 3;
    color: white;
  }
  .heading {
    margin: 0 auto;
    text-align: center;
  }

  .sidebar{
      background-color: cadetblue;
      width: 300px;
      border: 2px solid black;
      margin-top: 20px;
      
  }
  